{% load static %}
{% load weather_icon %}
{% load clothing_icon %}

<div class="day">
    <span class="name">{{ daycast.datetime|date:"l" }}</span>
    <img src="{% static 'img/weather/' %}{{ daycast.code|weather_icon }}.svg">
    <img src="{% static 'img/clothing/' %}{{ daycast.code|clothing_icon:daycast.temp_high_c }}.svg">
    <div class="row justify-content-center stats">
        <div class="col text-right temp_low">{{ daycast.temp_low_c|floatformat:"0" }}&deg;C</div>
        <div class="col text-left temp_high">{{ daycast.temp_high_c|floatformat:"0" }}&deg;C</div>
    </div>
    <span class="description">{{ daycast.description.scots }}</span>
</div>