{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="http://{{ request.META.HTTP_HOST }}" />

    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}"/> 
    <meta property="og:title" content="{{ weather.location }}, Taps-Aff or Taps-Oan?"/> 
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% static 'img/logo.png' %}"/>

    <title>{{ weather.location }}, Taps-Aff or Taps-Oan?</title>

    <link href="{% static 'css/tapsaff.css' %}" rel="stylesheet" type="text/css">
    <link rel="search" type="application/opensearchdescription+xml" title="Taps Aff?" href="/opensearch.xml" />
    
    <link 
        rel="shortcut icon" 
    {% if weather.taps.status == "oan" %}
        href="{% static 'img/favicon_oan.ico' %}"
    {% else %}
        href="{% static 'img/favicon_aff.ico' %}"
    {% endif %}
    />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "{{ settings.google_id }}"]);
        _gaq.push(["_trackPageview"]);
        
        (function() {
          var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
          ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

  </head>

  <body>
