{% include "header.html" %}
{% load static %}

<div class="container-fluid taps-area">
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
            <h1><a href="#search">{{ weather.location }}</a>, the weather is:</h1>
            <h2>taps <span class="{{ weather.taps.status }}">{{ weather.taps.status }}</span></h2>

            <p class="definition">
                <strong>Taps-Aff (Scots Vernacular)</strong> Literally "tops off."
                The removing of one's shirt in the event of warm weather,
                a phenomenon rarely seen in Glasgow. Now an expression
                describing good times being
                had.<sup><a href="http://www.urbandictionary.com/define.php?term=taps+aff">1</a></sup>
            </p>

            <p>
                <strong>Antonym:</strong> Taps-Oan, "tops on".<br>
                <strong>Current Weather:</strong> {{ weather.description.scots }}<br>
                <strong>Temperature:</strong> {{ weather.temp_c|floatformat:"0"  }}&deg;C ({{ weather.temp_f|floatformat:"0" }}&deg;F)
            </p>
      </div>
    </div>
</div>

<div class="container-fluid forecast">
    <div class="row justify-content-center">
        
        <!-- Map -->
        <div class="col-xl-5 col-md-6 map tight-md">
            <h3>Scotland:</h3>
            <input type="checkbox" id="btnMaps"/>
            <label class="btn" for="btnMaps">
                <img src="{% url 'www:clothing' %}" id="map_clothing" />
                <img src="{% url 'www:weather' %}" id="map_weather" />
            </label>
        </div>

        <!-- Forecast -->
        <div class="col-xl-4 col-md-5">
            <h3>{{ weather.location }}'s forecast:</h3>

            <div class="row justify-content-center">
                {% for daycast in weather.forecast|slice:"0:3" %}
                <div class="col-4 text-center tight-md">
                    {% include "day.html" %}
                </div>
                {% endfor %}
            </div>
            <br />
            <div class="row justify-content-center">
                {% for daycast in weather.forecast|slice:"3:6" %}
                <div class="col-4 text-center tight-md">
                    {% include "day.html" %}
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div class="container-fluid location text-center" id="search">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6 text-center">
            <label for="location"><h2>Where are ye...?</h2></label>
            <form role="search" id="locationsearch" method="POST" action="{% url 'www:index' %}" autocomplete="off">
                {% csrf_token %}
                <input
                    name="location"
                    id="location"
                {% if weather.place_error %}
                    placeholder="{{ weather.place_error }}"
                {% else %}
                    placeholder="Check anywhere in the UK!"
                {% endif %}
                >
            </form>
        </div>
    </div>
</div>

<div class="container-fluid footer text-center">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <p>An automated service; keeping the people of {{ weather.location }} informed.</p>
            <div class="row links">
                <div class="col">
                    <p>Site Author</p>
                    <a href="http://colinwaddell.com">ColinWaddell.com</a>
                </div>
                <div class="col">
                    <p>Sourcecode</p>
                    <a href="https://github.com/ColinWaddell/TapsAff-Django">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
